.card-body h6 {
  margin-top: 10px;
}

#main-logo {
  height: 88px;
}

.movieListHeadingContainer {
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchMovieContainer {
  width: 300px;
  display: flex;
  justify-content: center;
}
