@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* Seats Booking Section */

.seatBookingContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  top: 127px;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seatBookingContainer .seatContainer {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seatsDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seatBookingContainer .seat {
  background-color: #444451;
  height: 7px;
  width: 8px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  user-select: none;
}

.seatA {
  border: 1px solid rgb(208, 24, 147);
}
.seatB {
  border: 1px solid rgb(33, 241, 158);
}
.seatC {
  border: 1px solid rgb(255, 234, 2);
}

.seatD {
  border: 1px solid rgb(206, 32, 32);
}

.seatS {
  border: 1px solid rgb(23, 131, 226);
}

.mrRight {
  margin-right: 10px;
  font-size: 16px;
}

.A {
  color: rgb(208, 24, 147);
  font-weight: bold;
}

.B {
  color: rgb(33, 241, 158);
  font-weight: bold;
}

.C {
  color: rgb(255, 234, 2);
  font-weight: bold;
}

.D {
  color: rgb(206, 32, 32);
  font-weight: bold;
}

.S {
  color: rgb(23, 131, 226);
  font-weight: bold;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  padding: 5px 10px;
  color: rgb(255, 255, 255);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
  margin-bottom: 8px;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 400px;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.toastFeed {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  transform: translateY(180px);
  transition: all 400ms ease-in-out;
}

.toastFeed.active {
  transform: translateY(0);
}

.toastFeed p.text {
  margin: 5px 0 20px;
}

.toastFeed p.text span {
  color: #6feaf6;
}

.seatBookingDetailContainer {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.seatInfoContainer {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 10px;
  font-size: 17px;
  color: #3fd0ff;
}

.seatInfoContainer .seatInfo {
  width: 70%;
  padding: 20px;
}

.seatInfoContainer .totalPrice {
  width: 25%;
  padding: 20px;
}

.seatInfoContainer .seatInfoDiv {
  width: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: #6feaf6;
  color: #444451;
  margin-right: 5px;
  user-select: none;
}

.paymentEntryPopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
  width: 50%;
  height: auto;
  padding: 40px 5px;
  background: #005c97; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #363795,
    #005c97
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #363795,
    #005c97
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: 1050;
  border-radius: 4px;
}

.paymentEntryPopUp.active {
  transform: translate(-50%, -50%) scale(1);
}

.paymentEntryPopUp h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Playfair Display";
  margin-bottom: 10px;
}

.paymentEntryPopUp label {
  color: #fff;
  margin-right: 5px;
}

.paymentEntryPopUp i {
  position: absolute;
  top: 15px;
  right: 20px;
}

.paymentEntryPopUp i:hover {
  color: #bf000a;
  cursor: pointer;
}

.paymentEntryPopUp .inputRow {
  display: flex;
  justify-content: space-around;
}

.paymentEntryPopUp .inputBox {
  width: 300px;
  height: auto;
}

.paymentEntryPopUp .flex-middle {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.paymentEntryPopUp .inputRow input[type="text"],
.paymentEntryPopUp .inputRow input[type="number"] {
  width: 100%;
  height: auto;
  background-color: #111111;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 58px;
  color: #d1d0cf;
  outline: none;
}

.paymentEntryPopUp .inputRow input[type="radio"] {
  width: 15px;
  height: 15px;
}

.paymentEntryPopUp .inputRow input[type="radio"] span {
  margin-left: 10px;
  font-size: 15px;
  color: #111111;
}

.paymentEntryPopUp .btn {
  text-transform: uppercase;
  border: none;
  color: #fff;
  padding: 10px;
  background: #1d976c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93f9b9,
    #1d976c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 200ms ease-in-out;
  z-index: 1031;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
